#container{
background-color: red;
}
.header{
    display: flex;
    border: 1px solid black;
    margin:10px;
    justify-content: space-between;
}

.nav-items>ul{
    display: flex;
    list-style-type: none;
}
.nav-items>ul>li{
padding: 10px;
}

.card{
    width: 200px;
    border: 1px solid black;
    padding: 10px;
    margin:10px;
}
.card>img{
    width:100%
}
.resturent{
    display: flex;
    flex-wrap: wrap;
}
.RestroList{
 display: flex;
 flex-wrap: wrap;
}
.Simmer{

    height: 200px;
    width: 200px;
    background-color: lightgray;
    margin: 20px;
}
.menu{
    display: flex;
}